h1{
    color: rgb(66, 175, 44);
    text-decoration: underline;
}
.heading{
    color:rgb(219, 35, 121);
}

.item:nth-child(3n+1){
    background-color:rgb(102, 18, 236);
}
.item:nth-child(3n+2){
    background-color:rgb(246, 247, 239);
}
.item:nth-child(3n+3){
    background-color:darkgray;
}

.main_table{
    border: 2px solid black;
}

.item{
    border-color: black;
} 
